<ion-view title="Menu" ng-controller="menuCtrl as vm">
    <ion-nav-buttons side="right">
        <button class="button" style="position:relative;border-width: 0;" ng-click="vm.gotoHome()">
            <i class="icon ion-home"></i>
        </button>
        <button class="button" ng-click="vm.toggleDropdown()"
                ng-class="{open:vm.openDropdown}" style="position:relative;border-width: 0;">
            <!--<a> Action</a>-->
            <i class="icon ion-gear-a"></i>

            <div class="dropdown-menu" role="menu">
                <ion-list>
                    <ion-item class="item-accordion item-dark item-icon-left">
                        <i class="icon ion-android-search"></i>
                        <a>Search</a>
                    </ion-item>
                    <ion-item class="item-accordion item-dark item-icon-left">
                        <i class="icon ion-ribbon-a"></i>
                        <a>Show Popular</a>
                    </ion-item>
                    <ion-item class="item-accordion item-dark item-icon-left">
                        <i class="icon ion-aperture"></i>
                        <a>Feedback</a>
                    </ion-item>
                </ion-list>

            </div>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <div style="vertical-align: middle;" ng-repeat="category in vm.categories">
                <ion-item class="item-stable" style="vertical-align: middle;"
                          ng-click="vm.toggleGroup(category)"
                          ng-class="{active: vm.isGroupShown(category)}">
                    <div style="vertical-align: middle;">
                        <img style="vertical-align: bottom;" ng-src={{category.image}}>
                        <i class="icon"
                           ng-class="vm.isGroupShown(category) ? 'icon ion-minus' : 'icon ion-plus'">
                        </i>

                        <div style="display: inline-block; margin-left: 5px;margin-right: 5px;padding-bottom: 4px;">
                            {{category.name}}({{category.foodCount}})
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion item-icon-right"
                          ng-repeat="food in category.food"
                          ng-show="vm.isGroupShown(category)"
                          ng-click="vm.selectFood(food.id)">
                    <i class="ion-aperture" style="color: red;"></i>
                    {{food.name}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>