<ion-view title="Menu" ng-controller="menuCtrl as vm">
    <ion-content class="has-header">
        <ion-list>
            <div style="vertical-align: middle;" ng-repeat="category in vm.categories">
                <ion-item class="item-stable" style="vertical-align: middle;"
                          ng-click="vm.toggleGroup(category)"
                          ng-class="{active: vm.isGroupShown(category)}">
                    <div style="vertical-align: middle;" >
                        <i class="icon" ng-class="vm.isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i>
                        <div style="display: inline-block; margin-left: 5px;">{{category.name}}</div>
                        <img style="vertical-align: bottom;" ng-src={{category.image}}>
                    </div>
                    <!--<img src="/www/img/food/beverages.png">-->
                </ion-item>
                <ion-item class="item-accordion item-icon-right"
                          ng-repeat="food in category.food"
                          ng-show="vm.isGroupShown(category)"
                          ng-click="vm.selectFood(food.id)">
                    {{food.name}}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>