<ion-view title="Popular Dishes">
    <ion-content class="has-header" ng-controller="popularCtrl as vm">
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-click="vm.selectFood(food.id)"
               ng-repeat="food in vm.popularFoods">
                <img ng-src={{food.image}}>
                <p style="font-size: 18px;height: 40px;white-space: normal;margin-top: 5px;">{{food.name}}</p>
                <p>$20.00</p>
            </a>
        </div>
    </ion-content>
</ion-view>