<ion-view title="Languages" ng-controller="languageCtrl as vm">
    <ion-nav-buttons side="right">
        <button class="button" style="position:relative;border-width: 0;" ng-click="vm.gotoHome()">
            <i class="icon ion-home"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">

            <div style="display: flex;border-bottom: 1px solid #ddd;height: 62px;" ng-repeat="language in vm.languages">
                <div style="z-index: 2;min-width: 60px;">
                    <img ng-src={{language.image}} style="max-height:60px;min-width: 60px;">
                </div>
                <label class="item item-thumbnail-left item-radio"
                       style="width: 100%; padding-bottom: 16px;padding-top: 16px;min-height:50px;margin-top: 0;
                       height: 60px; border-style:none; padding-left: 10px;">
                    <input type="radio" name="group" ng-model="vm.languageId"
                           value={{language.id}} ng-change="vm.languageChanged()">

                    <div class="item-content"
                         style="padding-left: 10px;font-size: 26px;min-height:40px;height: 60px;
                         box-sizing: border-box; padding-top: 10px; padding-bottom: 0;margin-top: -15px;">
                        {{language.label}}
                    </div>
                    <i class="radio-icon ion-checkmark" style="padding-top: 15px;"></i>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>