
<ion-side-menus enable-menu-with-back-views ng-controller="menuLayoutCtrl as vm">
    <ion-side-menu-content>
        <!--<ion-header-bar class="bar-dark">-->
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-clear button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <!--</ion-header-bar>-->
        <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left" id="sideMenu">
        <header class="bar bar-header bar-stable" style="height: 80px; padding: 0;">
            <img ng-src={{vm.headerImage}}>
        </header>
        <ion-content class="has-header" style="top: 80px;">
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.welcome",{})>
                <i class="icon ion-ios-home-outline"></i>
                {{vm.home}}
            </a>
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.menu")>
                <i class="icon ion-ios-book-outline"></i>
                {{vm.menu}}
            </a>
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.popular")>
                <i class="icon ion-android-favorite-outline"></i>
                {{vm.popular}}
            </a>
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.map")>
                <i class="icon ion-ios-navigate-outline"></i>
                {{vm.googleMap}}
            </a>
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.language")>
                <i class="icon ion-ios-world-outline"></i>
                Language/Langue/语言
            </a>
            <a class="item item-icon-left" menu-close ng-click=vm.gotoView("app.contact")>
                <i class="icon ion-ios-information-outline"></i>
                {{vm.about}}
            </a>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>