<ion-side-menus enable-menu-with-back-views>
    <ion-side-menu-content>
        <!--<ion-header-bar class="bar-dark">-->
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button class="button-clear button-icon icon ion-ios7-arrow-back"></ion-nav-back-button>
            <!--<ion-nav-buttons side="left">-->
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <!--</ion-nav-buttons>-->
        </ion-nav-bar>
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <!--</ion-header-bar>-->
        <ion-nav-view name="mainContent" animation="slide-left-right"></ion-nav-view>

    </ion-side-menu-content>
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Left Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-item menu-close ui-sref="app.welcome">Home</ion-item>
            <ion-item menu-close ui-sref="app.menu">Menu</ion-item>
            <ion-item menu-close ui-sref="app.popular">Popular</ion-item>
            <ion-item menu-close ui-sref="app.map">Map</ion-item>
            <ion-item menu-close ui-sref="app.contact">Contact us</ion-item>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>